body
{
  font-family: sans-serif;  
  background-color:#e4dea8;
  padding: 0;
  margin: 0;
  direction: rtl;


}
.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    padding-top: 87px;
    margin: 0;
    
}
header{
    background:#e3dc97;
    padding-top: 30px;
    min-height: 150px;
    border-bottom: rgb(188, 180, 110) 5px solid;
}
header a{
    padding-top: 100px;
    
    color: rgb(72, 26, 0);
    text-decoration: none;
  font-size: 19px;
}

header li{
    padding-top: 80px;
    float : right;
    display: inline;
    padding: 0 40px 0 40px;
    
}
header #tit {
    float: right;
    
}

header nav{
    float: left;
    margin-top: 10px;
}
#supportInformation{
    color: rgb(58, 22, 1);
    font-size: 19px;
    text-decoration: none;
    padding-top: 150px;
    padding-right: 600px;

}

#supportInformation2{
   
    padding-right: 23px;
    
}

.table1{
    padding-top: 30px;
    padding-right: 430px;
}
.table2{
    padding-top: 30px;
    padding-right: 230px;
}
.te{
    
    padding-right: 60px;
}
.he{
    padding-top: 40px;
    padding-right: 100px;
}
.bp{
    width: 25%;
    padding-right: 520px;
    float: right;
    
}  
.br{
    float: left;
   padding-left: 520px;
}   
.bb{
    padding-top: 5px;
    padding-right: 715px;
    width: 25%;
    padding-bottom: 10px;

    
}  
#option input[type="sign-in"]{
    padding: 4;
    height: 25px;
    width: 250px;
}
.button{
    height: 38px;
    background:#dad49a;
    padding-left: 40;
    padding-right: 40;
}
